
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #e73e00d0;
}

ul {
    list-style: none;
}

.active {
   color: #e73e00d0; 
   text-decoration: underline;
   font-weight: bold;
}

body , html {
    overflow-x: hidden;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #e73e00d0;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}
header {
    width: 100ww;
    height: 100vh;
    background-color: #F4EBE6;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 250px;
    color: #294023;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: #E73D00;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}

.header-content h3 {
    color: #294023;
    font-size: 3vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}

.image {
    width: 350px;
    height: 260px;
    position: absolute;
    display: block; 
    position: absolute; /* Position the image absolutely */
    bottom: 0; /* Align the image to the bottom of the header */
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust to center the image properly */
    margin-top: 40px; 
}

.logoImg {
    width: 125px;
    height: 80px;
    position: absolute;
    display: block; 
    position: absolute; /* Position the image absolutely */
    bottom: 0; /* Align the image to the bottom of the header */
    left: 6%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust to center the image properly */
    margin-bottom: -1%;
}
.UIUX {
    width: 350px;
    height: 250px;
    display: block; 
    padding-right: 30px;

}
main {
    background-color: #F4EBE6;
    background-position: bottom;
    background-size: cover;
    margin-bottom: 100px;
    text-align: left;
    font-size: 3vmin;
    padding: 50px;
    padding-right: 200px;
}

.line2 {
    position: absolute;
    width: 900px;
    height: 2px;
    background: #E73D00;
    margin: 10px auto;
    border-radius: 5px;
}

  
  * {
    box-sizing: border-box;
  }
  
   /* CSS for home page articles */
   .row .col {
    display: flex; /* Change display to flex */
    flex-direction: column; /* Adjust to flex-direction: row */
    align-items: center;
}

.articles-img {
    margin-bottom: 10px; /* Add some space between the image and the heading */
}

@media (min-width: 768px) {
    .row .col {
        flex-direction: row; /* Display in a row for larger screens */
        align-items: flex-start; /* Align items at the start of the flex container */
    }

    .articles-img {
        margin-right: 20px; /* Add space between images for larger screens */
        margin-bottom: 0; /* Remove bottom margin for images */
    }
}

  h4 {
    font-size: 3vmin;
    margin: 20px auto;
  }


  /* CSS for footer */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFBBA6;
    padding: 40px 80px;
    margin-top: 0;
  }
  .footer .copy {
    color: #294023;
  }
  
  .bottom-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
  }
  
  .bottom-links .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
  .bottom-links .links span {
    font-size: 20px;
    color: #294023;
    text-transform: uppercase;
    margin: 10px 0;
  }
  .p{
    border: 2px solid #FFBBA6;
    border-radius: 12px;
    padding: 5px;
  }
  .bottom-links .links a {
    text-decoration: none;
    color: #294023;
    padding: 10px 20px;
  }

